@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Soulcraft";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Soulcraft.ttf") format("truetype");
}

@font-face {
  font-family: "ITC Avant Garde Gothic LT";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/ITCAvantGardeGothic-Medium.otf") format("opentype");
}

@font-face {
  font-family: "ITC Avant Garde Gothic LT";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/ITCAvantGardeGothicLT-Bold.otf") format("opentype");
}

:root {
  --background: #F5F1EAEA;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: "Inter", sans-serif;
  --font-avant-garde: "ITC Avant Garde Gothic LT", sans-serif;
  --font-soulcraft: "Soulcraft", sans-serif;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes fall-loop {
  from { transform: translateY(-50%); }
  to   { transform: translateY(0); }
}

@keyframes slideUpIn {
  from { opacity: 0; transform: translateY(50px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes slideUpOut {
  from { opacity: 1; transform: translateY(0); }
  to   { opacity: 0; transform: translateY(-50px); }
}

@keyframes slideDownOut {
  from { opacity: 1; transform: translateY(0); }
  to   { opacity: 0; transform: translateY(80px); }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
